@page "/login"
@inject HttpClient Http;
<h3>Login</h3>
<form method="post" action="/api/account/login?redirectUrl=/counter">
    @Token 
    <input name="username" />
    <input name="password" type="password" />
    <button type="submit">Login</button>
</form>

@code {

    public MarkupString Token { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Token = new MarkupString(await Http.GetStringAsync("api/account/externallogin"));
    }
}
